# Dependencies
node_modules/

# Excercise files
*main.js

# Environment
.env

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

